
<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<title>Freelancer - Start Bootstrap Theme</title>-->

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Music Hits</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="country_search">Search By Country</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="top_100">Top 100</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="main_page">Back To Front Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="/static/img/note.jpg" alt="">
        <h1 class="text-uppercase mb-0">Search By Artist</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Search By Artist Name and Possible Dates. </h2>
        <br><br>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Hi You! There are 3 types of searches : Best Year Search- returns years from start date to end date (if specified) which are considered to be the "best" of the artist (best is considered by billboard charts appearances through time).</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">Best Songs Search - returns best songs of specified artist (from given dates if specified if not we return top 100 songs) and Self Adored Songs Search - returns songs which artist's name appeared in with in specified dated (if given).</p>
            </div>
        </div>
    </div>
</header>



<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Search By Artist</h2>
        <hr class="star-dark mb-5">

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form action = "/update_vote" method = "post" name="myForm" >
                    <!--<div class="control-group">-->
                        <!--<div class="form-group floating-label-form-group controls mb-0 pb-2">-->
                            <!--<br><br>-->
                            <!--Song name : <input type="text" name="songName" ><br>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <br><br>
                            Artist name : <input type="text" name="artistName"><br>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <br>Enter Type Of Search : <br><br>
                            <select name="select_bar" size="2">
                                <option value=1 selected>Like</option>
                                <option value= -1>Dislike</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <input type="submit" value="Vote" >
                    </div>

                </form>
                <div id="divID"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>




