
<html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<title>Freelancer - Start Bootstrap Theme</title>-->

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/vendor/font-awesome/css/Montserrat400700.css" rel="stylesheet" type="text/css">
    <link href="/static/vendor/font-awesome/css/Lato400italic_700italic.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>

</head>



<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Music Hits</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="main_page">Back To Front Page</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="/static/img/note.jpg" alt="">
        <h1 class="text-uppercase mb-0">Search By Country</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Search By Country Name and Possible Dates. </h2>
        <br><br>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Hi You! There are 2 types of searches : Best Singers Search- returns singers from start date to end date (if specified) which artist considered to appear often in billboard charts in good places.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead"> and Patriotic Songs Search - returns songs which country's name appeared in with in specified dated (if given). Enjoy!</p>
            </div>
        </div>
    </div>
</header>



<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Search By Country</h2>
        <hr class="star-dark mb-5">

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form action = "/queryOnCountry" method = "post"name="myForm" >
                    <div class="control-group">
                        <div class="form-control-plaintext">
                            <br><br>
                            Country : <input type="text" name="country" pattern="[A-Za-z \-]"><br>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <br><br>
                            Enter start date after 1954-01-01 : <br><br>
                            <input type="date" name="start_date" min="1954-01-01" value="" max="2018-01-20" pattern="[0-9\-]"><br><br>

                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <br><br>
                            Enter end date before 2018-01-20 : <br><br>
                            <input type="date" name="end_date" min="1954-01-01" value="" max="2018-01-20" pattern="[0-9\-]"><br><br>


                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <br>Enter Type Of Search : <br><br>
                            <select name="select_bar" size="2">
                                <option value="Top Singers">Top Singers</option>
                                <option value= "Patriotic Songs">Patriotic Songs</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-info" >
                    </div>

                </form>
                <div id="divID"></div>
            </div>
        </div>
    </div>

</section>
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Data Base 2018</small>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!--&lt;!&ndash; Contact Form JavaScript &ndash;&gt;-->
    <!--<script src="js/jqBootstrapValidation.js"></script>-->
    <!--<script src="js/contact_me.js"></script>-->

    <!-- Custom scripts for this template -->
    <script src="/static/js/freelancer.min.js"></script>
</body>
</html>




