
<html>
<head>

<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>

<script>

function queryDB() {
	//TIANA- ADD HERE CODE FOR QUERY THAT RETURN DB JSON - SRNDING getInput() AS INPUT TO TIANA'S PYTHON
	var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("demo").innerHTML =
            this.responseText;
       }
    };
	xhttp.open("POST", "server.py", false);
	xhttp.setRequestHeader("artistName", document.forms["myForm"]["artistName"].value);
	xhttp.setRequestHeader("country", document.forms["myForm"]["country"].value);
	xhttp.setRequestHeader("start_date", document.forms["myForm"]["start_date"].value;
	xhttp.setRequestHeader("end_date", document.forms["myForm"]["country"].value);
	xhttp.send();
	
	var dbObj = {
	  "song_list" : query_best(getInput())
	}
	return dbObj;
}

function getInput() {
	var obj = {
				songName : "",
				artistName : "",
				country : "",
				start_date : "",
				end_date : ""
	}
				
    obj.songName = document.forms["myForm"]["songName"].value;
	obj.artistName  = document.forms["myForm"]["artistName"].value;
	obj.start_date  = document.forms["myForm"]["start_date"].value;
	obj.end_date  = document.forms["myForm"]["end_date"].value;
	obj.country  = document.forms["myForm"]["country"].value;
	return obj;
}

function getResult() {
	var  myObj, x, txt = "";

	var myObj = queryDB().song_list;


	txt += "<table border='1'>"
	txt+=  "<tr>"
	txt += "<th>song</th>"
	txt += "<th>artist</th>"
	txt += "</tr>"

	for (x in myObj) {
		txt += "<tr><td>" + myObj[x].song + "</td>";
		txt += "<td>" + myObj[x].artist + "</td></tr>";
	}
	txt += "</table>"
	return txt;

}

function searchForm() {
	obj = getInput();
	
	 var div = document.getElementById('divID');
     div.innerHTML = getResult() +'<br>';
	 //document.forms["myForm"]["songName"].value='';
}


function addForm() {

	obj = getInput();
	//TIANA'S ADD METHOD SENDING obj AS INPUT TO TIANA'S PYTHON
	console.log(obj);
	
    if (obj.songName == "") {
        alert("Name must be filled out");
        return false;
	 }
	 var div = document.getElementById('divID');
     div.innerHTML = 'Adding ' + obj.songName +'<br>';
	 //document.forms["myForm"]["songName"].value='';
}
</script>
</head>
<body>

<h1>MUSIC BEST HITS</h1>
<form name="myForm" >
Song name: <input type="text" name="songName"><br>
Artist name: <input type="text" name="artistName"><br>
Country: <input type="text" name="country"><br>
<br>
Enter start date after 1970-12-31:<br>
<input type="date" name="start_date" min="1970-12-31" value="" max="2018-01-02"><br><br>
Enter end date before 2018-01-02:<br>
<input type="date" name="end_date" min="1970-12-31" value="" max="2018-01-02"><br><br>
<br>
<input type="button" value="Search" onClick="JavaScript:searchForm()" >
<input type="button" value="Add" onClick="JavaScript:addForm()" >
</form>

<div id="divID"></div>
</body>
</html>